.callout {
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #333;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.callout img {
  float: right;
  margin: 0 0 10px 10px;
  border: 1px solid #333;
  padding: 5px;
  background-color: white;
  width: 150px;
  height: auto;
}

blockquote {
  margin: 20px 0;
}

cite {
  display: block;
  border-top: 1px solid #666;
  padding-top: 10px;
  text-align: right;
  font-size: 0.9em;
}
